<section class="thirteen columns">
    <h1>Achievements</h1>
    <article>
        <header>
            <h1>COMPEX Scholarship</h1>
            <span>Embassy of India — <time>2016</time></span>
        </header>
        <p>
            Embassy of India provides admission with scholarships to undergraduate 
            courses different academic fields in Indian Universities and Institutions.
            The scholarship covers full tution fee with living allowance and stipend for four years period of study.
        </p>
    </article>
    <article>
        <header>
            <h1>Speaker at COSCUP x openSUSE.Asia GNOME.Asia</h1>
            <span>openSUSE.Asia — <time>2018</time></span>
        </header>
        <p>
            openSUSE.Asia conducts an annual event each year where people from
            different backgrounds contributing to openSUSE (or open source) projects
            meet to share their experience and promote open source community. It was my honor
            to get a chance to speak at the international conference held in Taiwan.
        </p>
    </article>
    <article>
        <header>
            <h1>ACM-COMPUTE - Poster Presentation</h1>
            <span>Chitkara University - ACM India — <time>2018</time></span>
        </header>
        <p>
            ACM brings together computing educators, researchers, and professionals to 
            inspire dialogue, share resources, and address the field's challenges. My team got
            an opportunity to present a poster on topic "Connect Job Seeking Labour to Work Available Nearby".
        </p>
    </article>
    <article>
        <header>
            <h1>Synergy 2.0 Representative</h1>
            <span>Delhi Technological University — <time>2017</time></span>
        </header>
        <p>
            Synergy 2.0 is an annual technological fest organised by he International Organisation of Software Developers.
            Events such as HackDTU and Code In Less were conducted. I helped students from my college participate in these events.
        </p>
    </article>
</section>
