<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Child Labour and Migration Programme Assistant</h1>
            <span>
                <address>Terre des hommes Foundation</address><time>January 2020 to Present</time>
            </span>
        </header>
        <!-- <p>• Lead three days capacity assessment of 7 Civil Society Organizations (CSOs) on the domain of case
            management
            focusing on child protection under Sakriya project</p>
        <p>• Prepared capacity assessment impression/reflection report, service mapping analysis report under Sakriya
            Project</p>
        <p>• Detail assessment data entry of municipalities using KoBo tool</p>
        <p>• Participated in the review of Year III proposal of Samana project</p>
        <p>• Contributed in finalizing 3 pager Samana with child protection team and participted in Samana log frame
            review</p>
        <p>• Self-orientation on Project Cycle Management, Log frame and Theory of Change</p>
        <p>• Responsible to fill and update Project Follow up Tool (PFU) for Sakriya project</p>
        <p>• Compilation and preparation of AIN (Association of International NGOs) CPWG (Child Protection Working
            Group) template
            of Tdh</p>
        <p>• Contributed in preparing annual Nepal delegation report, 2019 of Samana and Sakriya project</p>
        <p>• Contributed in preparing Sakriya quarterly report (Oct-Dec, 2019), Sakriya half yearly report (Oct,
            2019-March, 2020) and
            regular input in preparing monthly Sitrep of Sakriya Project.</p>
        <p>• Prepared concept note, and fulfilled administrative and logistic requirements for 5 days case management
            training to CSOs and
            municipalities</p>
        <p>• Translated various documents like Policy on Sexual Abuse and Exploitation, Child Safeguarding Policy,
            Whistle Blowing
            Policy, UNICEF Program Guidance on Novel Corona Virus, COVID Under 19 Survey Questionnaire, Case Management
            forms,
            etc. from English into Nepali language</p>
        <p>• Participated in online mentoring and coaching session of CSOs on tools of Case Management that includes
            Case Management
            Steps, Process and Workflow, Child Protection Support mechanism, Community Based Child Protection Mechanism,
            Referral Mechanism and Pathway, Best Interest Assessment/best Interest Determination, Case Conference/Case
            Meeting, Confidentiality and data Protection, Triage, Risk Assessment and Prioritization</p> -->
    </article>
</section>