<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Python Developer and Content Editor</h1>
            <span><address>Programiz</address><time>2019 to Present</time></span>
        </header>
        <p>programiz.com is one of the top online platforms that help software engineers 
            and students learn programming languages via tutorials in the simplest way possible. 
            Some of my tasks are: writing python scripts for web scraping,  making tools in python for web,
            creating and editing contents on data structure and algorithms, and designing illustrations for the contents.</p>
    </article>
    <article>
        <header>
            <h1>Data Science Intern</h1>
            <span><address>Kharpann</address><time>June to August, 2019</time></span>
        </header>
        <p>Kharpann offers data science solutions to businesses.
            I worked on a research based data science project along with other minor front end tasks.</p>
    </article>
    
</section>
