<section class="thirteen columns">
    <h1>Initiatives</h1>
    <article>
        <header>
            <h1>FOSS Committee Manav Rachna - Founding Member</h1>
            <span><address>Manav Rachna International Institute of Research and Studies</address><time>2018</time></span>
        </header>
        <p>
            FOSS (Free and Open Source Software) committee at Manav Rachna encourages students
            contribute to open source world. Our team organised events to encourage and teach 
            friends and juniors on how to start contributing to open source projects.
        </p>
    </article>
    <article>
        <header>
            <h1>GIT Workshop for Beginners</h1>
            <span><address>Manav Rachna International Institute of Research and Studies</address><time>2019</time></span>
        </header>
        <p>
            A workshop was organised to help students learn about GIT and other open source OS's.
            A GSOC intern and an active open source contributor, Umang Jain, was invited at the event
            to galvanize the students.
        </p>
    </article>
</section>