<section id="projects">
  <div class="container">
    <h3>Projects</h3>
    <div class="panel panel-default">
      <div class="panel-body">
        <h5>
          <i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a
              href="https://github.com/Rhitabrat/Youtube-Comments-Categorization">Youtube Comment
              Classification</a></strong>
          Classifying YouTube Comments based on Sentiment and Type of Sentence
        </h5>
        <h5>
          <i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a
              href="https://github.com/Rhitabrat/covid-19-cases-nepal">Covid-19 Cases Nepal</a></strong>
          Visualization of Covid-19 Cases of all the provinces of Nepal
        </h5>
        <h5>
          <i class="fa fa-github"></i></span>&nbsp;&nbsp;<strong><a
              href="https://github.com/Rhitabrat/Poem-Categorization">Poem Categorization</a></strong>
          An NLP project to classify poems into differnet categories
        </h5>
        <h5>
          <span class="iconify" data-icon="simple-icons:kaggle" data-inline="false"></span>&nbsp;<strong><a
              href="https://www.kaggle.com/rhitabrat/heart-disease-prediction-beginner">Heart Disease Prediction
              (Beginner)</a></strong>
          A project to predict the possibility of heart disease on a patient
        </h5>
        <h5>
          <i class="fa fa-github"></i></span>&nbsp;<strong><a
              href="https://github.com/Rhitabrat/marriage-game-pointCalculator">Marriage Game Point
              Calculator</a></strong>
          Calculates the points in the card game-marriage
        </h5>
      </div>
    </div>
  </div>
</section>