<section class="thirteen columns">
    <h1>Projects</h1>
    <article>
        <header>
            <h1>YouTube Comment Classification</h1>
        </header>
        <p>
            This project classifies the comments of YouTube into different categories based on the need of the content
            creator.
        </p>
    </article>
    <article>
        <header>
            <h1>Covid-19 Cases Nepal</h1>
        </header>
        <p>
            A project to visualize covid-cases of Nepal on a bar race chart.
        </p>
    </article>
    <article>
        <header>
            <h1>Heart Disease Prediction</h1>
        </header>
        <p>
            A kaggle project to predict the possibility of heart disease on a patient.
        </p>
    </article>
    <article>
        <header>
            <h1>Poem Categorization</h1>
        </header>
        <p>
            It is an NLP project to classify poems into differnet categories.
        </p>
    </article>
</section>