<section class="thirteen columns">
    <h1>References</h1>
     <article>
        <header>
            <h1>Mrs. Nita Gurung</h1>
            <span>Child Labor & Migration Programme Coordinator, Terre des Hommes Foundation</span>
        </header>
    </article>
    <article>
        <header>
            <h1>Mr. Chakra Bishwakarma</h1>
            <span><address>Training Manager, Peace Corps Nepal</address></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Mr. Sajal Paudel</h1>
            <span><address>Lecturer, St. Xavier’s College</address></span>
        </header>
    </article>
    <span>Contact details of referees available upon request.</span>
</section>