<section class="thirteen columns">
    <h1>Skills</h1>
    <article>
        <header>
            <h1>Languages</h1>
        </header>
        <p>
            Nepali, English, Hindi
        </p>
        <header>
            <h1>IT Skills</h1>
        </header>
        <p>
            MS Power Point, MS Word, MS Excel, Google Drive, Outlook and Internet Search
        </p>
        <header>
            <h1>Arts</h1>
        </header>
        <p>
            Painting and sketches
        </p>
    </article>
</section>