<section class="thirteen columns">
    <h1>Trainings</h1>
     <article>
        <header>
            <h1>Water, Sanitation and Hygiene</h1>
            <span><time>2019</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Youth in Action Series (YAS) workshop: Make Your Own (MYO) Solar-Bottle-Bulb</h1>
            <span><address>Ujyalo Foundation</address><time>2014</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Rights and Responsibilities: International Intensive Program for a Progressive Life (Workshop)</h1>
            <span><address>address</address><time>2014</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Project Proposal Writing Training</h1>
            <span><address>address</address><time>2014</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Personal and Professional Development Course</h1>
            <span><address>British Council</address><time>2013</time></span>
        </header>
    </article>
</section>