<section class="thirteen columns">
    <h1>Traineeship/Volunteering Experience</h1>
    <article>
        <header>
            <h1>Child Labour and Migration Programme</h1>
            <span>
                <address>Terre des hommes Foundation</address><time>August to December, 2019</time>
            </span>
        </header>
    </article>
    <article>
        <header>
            <h1>Language and Culture Facilitator (LCF)</h1>
            <span>
                <address>Peace Corps Nepal</address><time>June to July, 2019</time>
            </span>
        </header>
    </article>
    <article>
        <header>
            <h1>Language and Culture Facilitator (LCF)</h1>
            <span>
                <address>Peace Corps Nepal</address><time>January to April, 2019</time>
            </span>
        </header>
    </article>
    <article>
        <header>
            <h1>Volunteer Service Overseas/International Citizen Service</h1>
            <span>
                <address>VSO/ICS - Kathmandu – Project Volunteer</address><time>July to September, 2018</time>
            </span>
        </header>
    </article>
    <article>
        <header>
            <h1>Camp Supervisor</h1>
            <span>
                <address>St. Xavier’s College</address><time>2018</time>
            </span>
        </header>
        <p></p>
    </article>
    <article>
        <header>
            <h1>Trainee - Biswas Nepal</h1>
            <span>
                <address>Biswas Nepal</address><time>January to May, 2018</time>
            </span>
        </header>

    </article>
    <article>
        <header>
            <h1>Trainee - Women and Child Service Centre</h1>
            <span>
                <address>Women and Child Service Centre</address><time>August to December, 2017</time>
            </span>
        </header>
    </article>
    <article>
        <header>
            <h1>Volunteer - Volunteers Initiative Nepal</h1>
            <span>
                <address>Volunteers Initiative Nepal</address><time>July to August, 2017</time>
            </span>
        </header>
    </article>
    <article>
        <header>
            <h1>Trainee - Chetana Forum</h1>
            <span>
                <address>Chetana Forum</address><time>July 2016 to May 2017</time>
            </span>
        </header>
    </article>
    <article>
        <header>
            <h1>Trainee - CWIN</h1>
            <span>
                <address>Child Workers in Nepal Concerned Centre (CWIN)</address><time>July 2015 to May 2016</time>
            </span>
        </header>

    </article>
    <article>
        <header>
            <h1>Trainee - DRC Nepal</h1>
            <span>
                <address>DRC Nepal (Disabled Rehabilitation Centre)</address><time>July 2014 to May 2015</time>
            </span>
        </header>

    </article>
</section>